/* Основной контейнер для страницы */
.pageContainer {
    padding: 1em 2em;
    background-color: #282c34; /* Темный фон для гармонии с заголовком */
    color: #61dafb; /* Цвет текста */
    font-family: Arial, sans-serif;
    min-height: calc(100vh - 6em); /* Учитываем высоту шапки */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Стили для формы */
form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    max-width: 600px;
}

label {
    font-size: 1.1em;
    font-weight: bold;
}

input {
    padding: 0.8em;
    width: 100%;
    max-width: 400px;
    border: 1px solid #61dafb;
    border-radius: 5px;
    background-color: #20232a;
    color: #61dafb;
}

input:focus {
    outline: none;
    border-color: #ffffff;
}

button {
    padding: 0.8em 2em;
    border: none;
    border-radius: 5px;
    background-color: #61dafb;
    color: #20232a;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffffff;
    color: #20232a;
}
