/* Контейнер для списка и текстового поля */
.characterContainer {
    display: flex;
    flex-direction: column; /* Поле ввода и список располагаются вертикально */
    gap: 0.5em; /* Отступ между текстовым полем и списком */
    width: 100%; /* Занимает всю ширину контейнера */
    box-sizing: border-box; /* Учитываем padding и границы */
}

/* Текстовое поле поиска */
.characterContainer input[type="text"] {
    padding: 0.8em;
    width: 100%;
    max-width: 100%; /* Не превышает ширину родителя */
    border: 1px solid #61dafb;
    border-radius: 5px;
    background-color: #20232a;
    color: #61dafb;
    font-size: 1em;
    box-sizing: border-box; /* Учитываем padding и границы */
}

.characterContainer input[type="text"]:focus {
    outline: none;
    border-color: #ffffff;
}

/* Стили для списка */
.characterList {
    list-style-type: none; /* Убираем маркеры */
    padding: 0;
    width: 100%;
    max-width: calc(100% - 2px); /* Учитываем 2px от border в полосе прокрутки */
    max-height: 500px; /* Ограничение высоты (примерно для 5 элементов) */
    overflow-y: auto; /* Вертикальная прокрутка, если элементы не помещаются */
    border: 1px solid #61dafb; /* Границы для визуального отделения */
    border-radius: 5px;
    background-color: #20232a; /* Фон списка */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Стили для полосы прокрутки */
.characterList::-webkit-scrollbar {
    width: 8px; /* Ширина вертикальной полосы */
    height: 8px; /* Высота горизонтальной полосы (если есть) */
}

.characterList::-webkit-scrollbar-track {
    background: #282c34; /* Фон дорожки */
    border-radius: 5px; /* Скругляем углы */
}

.characterList::-webkit-scrollbar-thumb {
    background: #61dafb; /* Цвет прокрутки */
    border-radius: 5px; /* Скругленные края */
    border: 2px solid #20232a; /* Пространство между прокруткой и дорожкой */
}

.characterList::-webkit-scrollbar-thumb:hover {
    background: #ffffff; /* Цвет прокрутки при наведении */
}

.characterList li {
    display: flex;
    align-items: flex-start; /* Выравнивание элементов по верхнему краю */
    padding: 0.8em 1em;
    margin: 0.5em 0;
    background-color: #20232a; /* Темно-серый фон */
    color: #61dafb; /* Цвет текста */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.characterList li.active {
    background-color: #61dafb; /* Меняем фон при выборе */
    color: #20232a; /* Темный цвет текста */
}

.characterList li.disable {
    display: none;
}

.characterList li:hover {
    background-color: #61dafb; /* Меняем фон при наведении */
    color: #20232a; /* Темный цвет текста */
}

/* Стили для текста */
.diceList li span {
    font-size: 1.1em;
    word-wrap: break-word; /* Переносим текст на новую строку, если он длинный */
    overflow-wrap: break-word; /* Совместимость с другими браузерами */
    line-height: 1.5; /* Увеличиваем межстрочный интервал для читаемости */
}